
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    max-width:100%;
    border: 1px solid grey;
}
a{
text-decoration:none;
}
/* header section  */
    .name{
    display:flex;
}
    .links{
    display:flex;
    justify-content:flex-end;
    }
    /* top section  */
    .top{
        display:flex;
        flex-direction:column;
    }
    #name2, #pro-link{
        display:flex;
        justify-content:center;
        color:#4f4f4f;
    }
    #name2{
        font-size:2.5rem;
    }
    img{
        padding:5%;
    }

    .projects{
        display:flex;

    }
        #img,#img2,#img3,#img4,#img5,#img6{
            width:100%;
            display:flex;
            flex-wrap:wrap;
            justify-content:center;
        }
    /* footer section  */
    .footer{
        display:flex;
    }
    #contact{
        display:flex;
        align-items:center;
    }
    